.main_content {
	text-align:center;
}
.menu_strip {
	text-align: center;
	width: 100%;
	display: block;
	margin: 10vh 0 6vh 0;
	position: relative;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}
h1 {
	font-size: 2em;
	color: #000;
	letter-spacing: 0.05em;
}
h2 {
	font-size: 1em;
	color: #999;
	letter-spacing: 0.05em;
}
.mainLogo img {
	width: 136px;
	height: auto;
	position: relative;
	margin: 10vh auto;
	display:block;
}
.status {
	border: 1px solid #777;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: fixed;
	z-index: 102;
	top: 2vh;
	right: 2vh;
}
.status.status-green {
	border: 1px solid #66cc66;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70e070+0,52a55b+100 */
background: rgb(112,224,112); /* Old browsers */
background: -moz-linear-gradient(top, rgba(112,224,112,1) 0%, rgba(82,165,91,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(112,224,112,1) 0%,rgba(82,165,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(112,224,112,1) 0%,rgba(82,165,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70e070', endColorstr='#52a55b',GradientType=0 ); /* IE6-9 */


}
.divider_h {
	width: auto;
	height: 2px;
	background: #EEE;
	display: block;
	position: fixed;
	bottom: 15vh;
	left: 7%;
	right: 7%;
	z-index: 101;
}
.menuArea ul {
	display: table;
	width: 100%;
	position: fixed;
	z-index: 100;
	font-family: 'Fjalla One', sans-serif;
	bottom: 0;
	left: 0;
	margin:0;
	padding: 0;
	background: #FFF;
}
.menuArea ul li {
	height: 14vh;
	text-align: center;
	margin: 0;
	line-height: 14vh;
	padding: 0;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FFF;
}
ul > li {
	display: table-cell;
}
.menuArea ul li:hover {
	border-bottom-color: #AAA;
}
#menu-jobs {
	width: 33%;
}
#menu-account {
	width: 34%;
}
#menu-contact {
	width: 33%;
}
.takePicBtn {
	display: inline-block;
	height: 60px;
	width: 60px;
	border: 4px solid #AAA;
	border-radius: 50%;
	position: fixed;
	right: 12px;
	top: 80px;
	background-color: #F4F4F4;
}
.takePicBtn i {
	color: #AAA;
	line-height: 60px;
}

/* LOADER */
.spinner {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 60px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #CC9;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}




.button_zone {
	width: auto;
	left: 25px;
	right: 25px;
	bottom: 20px;
	position: absolute;
}
.button {
	font-size: 1.2em;
	width: 100%;
	height: 60px;
	line-height: 62px;
	border: none;
}
#uploadBtn {
	background-color: #C69;
}
#restartBtn {
	background: #6C9;
}



.imageRotateHorizontal{
    -moz-animation: spinHorizontal 1.2s infinite linear;
    -o-animation: spinHorizontal 1.2s infinite linear;    
    -webkit-animation: spinHorizontal 1.2s infinite linear;
    animation: spinHorizontal 1.2s infinite linear;
}

@-moz-keyframes spinHorizontal {
    0% {
        -moz-transform: rotateY(0deg);
    }

    100% {
        -moz-transform: rotateY(360deg);
    }
}

@keyframes spinHorizontal {
	0% { 
        transform: rotateY(0deg); 
	}
    100% {
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes spinHorizontal {
	0% { 
        -webkit-transform: rotateY(0deg); 
	}
    100% {
        -webkit-transform: rotateY(360deg);
    }
}
